/* We Understand Section */
.we-understand-section {
  background: #f5f5f5;
  padding: 80px 0px 130px;
}

.we-understand-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 62px;
}

.we-understand-main .content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 28px;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

.gallery-item {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.we-understand-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
}

.we-understand-heading {
  width: fit-content;
  color: var(--text-color);
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0px;
  vertical-align: middle;
  white-space: nowrap;
}

.we-understand-heading span {
  color: transparent;
  -webkit-text-stroke: 1px var(--text-color);
  text-stroke: 1px var(--text-color);
  font-family: Poppins, Helvetica, sans-serif;
  letter-spacing: 3px;
}

.we-understand-divider {
  width: 100%;
  border-top: 1px solid var(--element-color);
}

.we-understand-image {
  width: 344px;
  height: 32px;
}

.text-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  width: 100%;
}

.column-text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.column-text p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
}

.secondary-button {
  width: 100%;
  background: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  padding: 15px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease;
  height: 52px;
  box-shadow: 0px 4px 6px 0px #00000014;
}

.secondary-button:hover {
  transform: translateY(-4px);
}

.tablet-text-columns {
  display: none;
}

@media (max-width: 980px) {
  .we-understand-section {
    padding: 24px 0px 106px 0px;
  }

  .we-understand-main {
    gap: 65px;
  }

  .image-gallery {
    gap: 24px;
  }

  .gallery-item {
    height: 126px;
  }

  .text-columns {
    display: none;
  }

  .tablet-text-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
  }

  .tablet-column-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .tablet-column-text p {
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .tablet-column-text .secondary-button {
    margin-top: 12px;
  }
}

@media (max-width: 640px) {
  .we-understand-section {
    background: var(--white-color);
    padding: 12px 0px 105px 0px;
  }

  .image-gallery {
    display: none;
  }

  .we-understand-heading {
    font-size: 24px;
    line-height: 32px;
  }

  .text-columns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
    width: 100%;
  }

  .text-columns :nth-child(2).column-text {
    margin-right: 4px;
    margin-top: 24px;
  }

  .text-columns :nth-child(3).column-text {
    margin-top: 18px;
  }

  .tablet-text-columns {
    display: none;
  }

  .column-text {
    gap: 26px;
  }
}
