/* WATCH THE VIDEO */
.watch-video-section {
  height: 648px;
  background-image: url('../assets/images/watch-video/background-image.png'),
    url('../assets/images/watch-video/mask-group-3.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left center, right center;
  background-size: 54% 100%, 52% 100%;
  position: relative;
}

.watch-video-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  max-width: 472px;
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.watch-video-heading {
  color: var(--white-color);
  font-size: 44px;
  line-height: 52px;
  vertical-align: middle;
  font-weight: 800;
  letter-spacing: 0px;
  word-spacing: 3px;
}

.watch-video-heading span {
  color: transparent;
  -webkit-text-stroke: 1px var(--white-color);
  text-stroke: 1px var(--white-color);
  font-family: Poppins, Helvetica, sans-serif;
}

.watch-video-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.watch-video-list .list-item {
  display: flex;
  align-items: flex-start;
  gap: 22px;
}

.check-icon {
  margin-top: 8px;
}

.watch-video-list .list-item h3 {
  color: var(--white-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 8px;
}

.watch-video-list .list-item p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
}

.video-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 75%;
}

.play-icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  width: 208px;
  height: 208px;
  transition: all 0.3s ease;
  user-select: none;
  background: #5bc8af1a;
  border: 2px solid #ffffff4d;
  border-radius: 50%;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 67%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5bc8afcc;
  border: 2px solid var(--white-color);
  border-radius: 50%;
}

.play-icon:hover .play-icon-overlay {
  width: 228px;
  height: 228px;
}

.logo-icon {
  position: absolute;
  bottom: 36px;
  right: 36px;
}

/* Responsive */
@media (max-width: 1280px) {
  .watch-video-section {
    height: auto;
  }

  .content-wrapper {
    max-width: 520px;
    margin-right: 40px;
    padding: 80px 0px;
  }
}

@media (max-width: 980px) {
  .watch-video-section {
    height: 1098px;
    background-image: url('../assets/images/watch-video/mobile-background-image.png'),
      url('../assets/images/watch-video/white-layer.png'),
      url('../assets/images/watch-video/mask-group-3.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center top, center top, center bottom;
    background-size: 100% 59%, 100% 61%, contain;
  }

  .watch-video-content {
    align-items: flex-start;
  }

  .video-placeholder {
    min-height: 500px;
  }

  .content-wrapper {
    max-width: 100%;
    margin: 0px;
    padding: 102px 0px 110px 0px;
    gap: 60px;
  }

  .watch-video-heading {
    text-align: center;
  }

  .watch-video-list {
    padding: 0px 4px 0px 26px;
  }

  .video-placeholder {
    top: 57%;
    left: 50%;
  }

  .play-icon {
    width: 154px;
    height: 154px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .play-icon-overlay {
    width: 200px;
    height: 200px;
  }

  .play-icon:hover .play-icon-overlay {
    width: 212px;
    height: 212px;
  }

  .logo-icon {
    bottom: 49px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 640px) {
  .watch-video-section {
    height: 800px;
    background-size: 100% 65%, 100% 68%, contain;
  }

  .video-placeholder {
    min-height: 300px;
  }

  .content-wrapper {
    padding: 80px 0px 97px 0px;
    gap: 32px;
  }

  .watch-video-list {
    padding: 0px;
    gap: 18px;
  }

  .video-placeholder {
    top: 64%;
    left: 50%;
  }

  .watch-video-heading {
    font-size: 36px;
    line-height: 48px;
    text-align: center;
  }

  .watch-video-list .list-item h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .watch-video-list .list-item {
    gap: 16px;
  }

  .watch-video-list .list-item p {
    font-size: 14px;
    line-height: 24px;
  }

  .play-icon {
    width: 98px;
    height: 98px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .play-icon img {
    width: 24px;
  }

  .play-icon-overlay {
    width: 128px;
    height: 128px;
  }

  .play-icon:hover .play-icon-overlay {
    width: 148px;
    height: 148px;
  }

  .logo-icon {
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 460px) {
  .watch-video-section {
    height: 900px;
    background-size: 100% 76%, 100% 79%, contain;
  }

  .video-placeholder {
    top: 73%;
    left: 50%;
  }
}
